.manage-teams-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 100vh;
  text-align: center;
  background-color: #363636; /* Темный фон */
  color: white; /* Белый текст */
}

.manage-teams-container h2, h3{
    color: white; /* Белый текст */
}

.comand {
  font-size: 36px;
  margin-bottom: 20px; /* Добавлен отступ для лучшего оформления */
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 60px;
}

.toggle-button {
  margin-right: 10px;
  background-color: #ed3f3f; /* Цвет кнопки */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Плавный переход цвета */
  padding: 8px 15px;
}

.toggle-button2 {
  margin-right: 10px;
  background-color: #ffeba0;
  color: #272727;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Плавный переход цвета */
  padding: 8px 15px;
}

.toggle-button.active {
  background-color: #ffeba0;
  color: #272727;
}

.search-container {
  width: 100%;
  max-width: 400px;
}

.search-input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc; /* Светлый бордер для поля ввода */
  font-size: 16px;
  background-color: #1f1f1f; /* Темный фон для поля ввода */
  color: white; /* Белый текст */
}

.teams-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 400px;
}

.team-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #1f1f1f;
  border-radius: 5px;
  border: 1px solid #ddd; /* Светлый бордер */
  width: 100%;
  justify-content: flex-end;
}

.delete-button {
  background-color: #dc3545; /* Красный цвет кнопки удаления */
  color: white; /* Белый текст */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c82333; /* Более темный красный при наведении */
}

.edit-button {
  margin-left: 15px;
  background-color: #363636;
}

.toggle-button {
  margin-left: 10px;
}

.toggle-button2 {
  margin-left: 10px;
}


@media (max-width: 520px) {
  .search-input {
    text-align: left;
    width: 50%;
  }

  .search-container {
    align-items: flex-start;
    display: flex;
    justify-content: center;
  }

  .team-item {
    flex-direction: column;
  }

  .teams-list {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .edit-button, .toggle-button2, .delete-button {
    margin-top: 15px;
  }

  .edit-button {
    margin-left: 0;
  }

  .manage-teams-container h2 {
    font-size: 25px;
  }

  .add-user-container h2{
    font-size: 20px;
  }
}